<div class="search-box">
	<div class="navbar navbar-default">
		<div class="navbar-inner">
			<form class="navbar-form navbar-left" style="width:100%" role="search">
				<div class="form-group">
					<input type="text" ng-model="query" class="form-control" placeholder="Search">
				</div>
				<a href="#add" class="btn btn-default pull-right">
				    + Add Contents
				</a>
			</form>
		</div>
	</div>
</div>
<h3 class="text-center">电话薄</h3>
<table class="table table-hover">
    <tr>
    	<th>姓名</th>
    	<th>电话</th>
    	<th>操作</th>
    </tr>
	<tr ng-repeat="tel in tels | filter:query">
		<td class="col-md-4">
		     <a href="#edit/{{$index}}">{{tel.name}}</a>
		</td>
		<td class="col-md-4">{{tel.phoneNumber}}</td>
		<td class="col-md-4"><a href="#edit/{{$index}}">Edit</a> | <a href="javascript:;" ng-click="deleteTel($index)">Delete</a></td>
	</tr>
</table>